body {
    background: url('images/6.jpg') no-repeat center center fixed;
    background-size: cover;
    color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
    display: flex;
    text-align: top;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ensure full viewport height */
}

h1 {
    font-size: 35px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

button {
    margin-top: 50px;
    width: 25vw;
    height: 15vh;
    background-color: rgba(0, 0, 0, 0.9);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 15px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 20px;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

button:active {
    background-color: rgba(0, 0, 0, 0.9);
}

#inventoryOutput {
    margin-top: 20px;
    color: white;
}
